spring:
  redis:
    host: localhost
    port: 6379

  rabbitmq:
    host: localhost
    port: 5672

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/FeedApp